<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <style>
        html {
            scroll-behavior:auto;
        }
    </style>


</head>
<body>

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">{{ config_name_org }}</h4>
        </div>
        <div class="card-body">

            <!-- Box Information -->
            <div class="mb-3">
                <span class="fw-bold">BOX NO:</span> {{ box.name }}
            </div>

            <div class="mb-3">
                <span class="fw-bold">AREA:</span> {{ box.area.name }}
            </div>

            <div class="mb-3">
                <span class="fw-bold">OPENING DATE:</span> {{ box.creation_date }}
            </div>
            <div class="mb-3">
            <span class="fw-bold ms-4">DESTRUCTION YEAR:</span> {{ box.destruction_year }}
            </div>
            <div class="mb-3">
                <span class="fw-bold">Creator:</span> {{ box.user.last_name }}, {{ box.user.first_name }}
            </div>

            <div class="mb-3">
                <span class="fw-bold">BOX TYPE:</span> {{ box.box_type }}
            </div>

            <div class="mb-3">
                <span class="fw-bold">DESCRIPTION:</span> {{ box.description }}
            </div>
      
 
        </div>
    </div>
</div>
</body>