{% extends "base.html" %}

{% block title %}Preview Box{% endblock %}

{% block content %}
    <div class="container mt-4">
  
        <table border="1" cellpadding="5" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for field, value in box_fields.items %}
                <tr>
                    <td>{{ field|capfirst }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-secondary" onclick="window.history.back()"><i class="bi-arrow-left-circle"> </i>Go Back</button>
            <form method="POST" action="{% url 'save_and_generate_pdf' %}" target="_blank" >
                {% csrf_token %}
                <!-- Reenvía todos los datos como campos ocultos -->
                {% for field, value in box_fields.items %}
                <input type="hidden" name="{{ field }}" value="{{ value }}">
                {% endfor %}
                <button class="btn btn-primary " type="submit" onclick="redirectAfterDownload()">Save & Download PDF <i class="bi-arrow-right-circle"></i></button>
            </form>

        </div>
    </div>
 <script>


 function redirectAfterDownload () {
      
        const checkStatus = () => {
            fetch("{% url 'check_download_status' %}")
                .then(response => response.json())
                .then(data => {
                    console.log("CheckStatus of download is:" + data.ready)
                    if (data.ready) {
                        window.location.href = "{% url 'main' %}";
                    } else {
                        
                        setTimeout(checkStatus, 1000); 
                    }
                });
        };

        // Iniciar la verificación
        checkStatus();
       
    }    
 
</script>
{% endblock %}
